body {
  color: #fff !important;
  background: #1b1b1b !important;
  font-family: 'Comfortaa', cursive !important;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #1b1b1b;
}

.overlay.hidden {
  display: none;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.sider2020 {
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%,-50%) !important;
  box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.25);
  border-radius: 5px;
  height: auto !important;
  width: 25% !important;
}

.btn {
  cursor: pointer !important;
  font-family: 'Comfortaa', cursive !important;
  width: 70% auto;
}
