@font-face {
   font-family: "soiderfont";
   src: url("/assets/soider.ttf") format("truetype");
}

*, *::after, *::before {
   padding: 0;
   margin: 0;
}

html {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

body {
   font-family: 'Consolas', monospace;
   font-size: 10px;
   color: #dd261f;
   background-color: #202020;
}

.icon {
   height: 48px;
   width: 48px;
}

.icon_links {
   display: ruby;
   transform: translate(-50%, -50%);
   position: absolute;
   left: 50%;
   top: 69%;
}

.icon_links .icon {
   margin-left: 15px;
   margin-right: 15px;
   border-radius: 50px;
   transition: ease-in-out .4s all;
}

.icon_links .icon:hover {
   background: #fff;
}

.main {
   font-family: "soiderfont";
   font-size: 40px;
   text-align: center;
   position: absolute;
   left: 50%;
   top: 50%;
   text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   transform: translate(-50%, -50%);
}

.title {
   font-size: 70px;
}

.bg {
   width: 100%;
   height: 100%;
   position: absolute;
   z-index: -3;
}

#pattern,
#background {
   position: absolute;
   width: 100%;
   height: 100%;
}

#pattern {
   background: transparent url('/assets/dot.png'); /* sorry cood1n I taked this from u :3 */
   top: 0;
   left: 0;
   margin: 0;
   padding: 0;
   z-index: -1;
   opacity: 1;
}

#background {
   width: auto;
   height: auto;
   top: 50%;
   left: 50%;
   min-width: 135%;
   min-height: 110%;
   transform: translate(-50%, -50%);
   background-size: cover;
   overflow: hidden;
   filter: blur(8px);
   position: fixed;
   z-index: -9999;
}


.draxe_is_snickers {
   position: fixed;
   width: 100%;
   height: 100%;
   opacity: 1;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #202020;
   z-index: 2;
   transition: ease-in-out .4s all;
}

.hidden {
   opacity: 0;
   z-index: -5;
   transition: ease-in-out .4s all;
}

.center {
   transform: translate(-50%, -50%);
   position: absolute;
   top: 50%;
   left: 50%;
   font-size: 15px;
   text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* 
   Overlay Menu - by soider
*/

.menu {
   transition: ease-in-out .3s all;
}

.menu:hover {
   color: #fff;
   cursor: pointer;
   transition: ease-in-out .3s all;
}

.overlay { 
   height: 100%;
   width: 0;
   position: fixed; 
   z-index: 1;
   left: 0;
   top: 0;
   background-color: rgba(0,0,0, .9); 
   overflow-x: hidden; 
   transition: 0.5s; 
}
 
.overlay-content {
   transform: translate(-50%, -50%);
   position: absolute;
   left: 50%;
   top: 50%;
   width: 100%; 
   font-size: 10px;
   text-align: center; 
}
 
.overlay a {
   font-family: "soiderfont";
   letter-spacing: 1rem;
   padding: 8px;
   text-decoration: none;
   font-size: 30px;
   color: #b834da;
   display: block;
   transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
   color: #f1f1f1;
}
 
 
.overlay .closebtn {
   position: absolute;
   top: 20px;
   right: 45px;
   font-size: 60px;
}
 
@media screen and (max-height: 450px) {
   .overlay a {font-size: 20px}
   .overlay .closebtn {
     font-size: 40px;
     top: 15px;
     right: 35px;
   }
} 