@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    outline: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    font-weight: 600;
    overflow: hidden;
}

body {
    background: #1b1b1b;
    color: #ffffff;
}


.overlay .center {
    margin-top: 50vh;
}

.overlay {
    background: #1b1b1b !important;
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    width: 100%;
    height: 1000%;
    z-index: 9999 !important;
}

  .overlay.hidden {
    z-index: -9999 !important;
    opacity: 0;
    transition: linear 0.25s;
}

.center {
    text-align: center;
}

.main {
    padding: 15px 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    border-radius: 5px;
    border-bottom: 3px solid #d442d4;
    top: 50%;
    text-align: center;
    width: 30%;
    background: #1b1b1b;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.25);
}

.circle {
    border-radius: 9999px;
}

.z-depth-3 {
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.btn2020 {
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    color: #585858;
    background: transparent;
    border: 1px solid #585858;
    padding: 5px 25px;
    transition: 0.2s linear;
}

.btn2020:hover {
    color: #ffffff;
    background: #d442d4;
    border: 1px solid #d442d4;
}


.btns .btn2020 {
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

@media only screen and (max-width: 600px) {
    .main {
        width: 60%;
    }
}