@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


*, ::after, ::before {
    box-sizing: border-box;
}

body {
    background: #202020;
    background-image: url('giphy.gif');
    background-size: cover;
    font-family: 'Russo One', sans-serif;
    color: #ffffff;
    user-select: none;
}

#hat {
    position: relative;
    top: 47px;
    height: 35px;
    left: 43px;
}

.title {
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
}

.title::after, ::before {
    font-size: 12px;
    vertical-align: middle;
}  

.title::after {
    content: "†";
    text-shadow: 0px 0px 24px;
}

.title::before {
    content: "†";
    text-shadow: 0px 0px 24px;
}

.main {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    z-index: 1;
}

.overlay {
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    background-color: #202020be;
    z-index: -1;
}

.link {
    width: 1000px;
}

.link a {
    color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    transition: ease-in-out .3s all;
}

.link a:hover {
    color: #7599bd;
    letter-spacing: 1.2px;
    text-shadow: 0px 0px 15px;
}

.iziToast-message, .iziToast-title {
    font-family: 'Nunito', sans-serif !important;
    font-weight: 700 !important;
}
